*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #26267e;
}
.input-box{
    width: 90%;
    max-width: 500px;
    background: #ffff;
    margin: 300px auto;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.input-box input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}